html {
  box-sizing: border-box;
  font-family: Arial, Verdana, Tahoma, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
}

button {
  width: 142px;
  height: 142px;
  font-size: 48px;
  font-family: inherit;
}

.info-container {
  background-color: #f2f2f2;
  padding: 0px 16px 16px 16px;
  max-width: 600px;
  flex: 1;
}

.calc-container {
  background-color: #bfbfbf;
  border-radius: 8px;
  border: 4px #A6A6A6 groove;
  width: 600px;
  height: fit-content;
  padding: 6px;
}

.calc-display {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100px;
  font-size: 48px;
  padding-right: 4px;
  margin-bottom: 6px;
  border-radius: 4px;
  border: 1px #000000 solid;
  background-color: #ffffff;
  overflow: auto;
}

.calc-buttons-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  gap: 4px;
}

.calc-btn-clear {
  flex-grow: 1;
}

.selected {
  color: #ffffff;
  background-color: #001a00;
}